body{
    background-color: rgba(0, 0, 0, 0.877);
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 10px white 0;
}
.main{
    display: flex;
    /* justify-content: space-between; */
    gap: 300%;
    align-items: center;
    
}
.mnu{
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
}
.main input{
    background-color: transparent;
    border: none;
    
}
h2{
   width: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    height: 50px;
    /* justify-content: center;
    align-items: center; */
    padding-top: 25px;
    padding-left: 5px;
}
h5{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
h3{
    color: yellow;
}
h6{
    color: aliceblue;

}
p{
    color: aliceblue;
}
ul li{
    color: aliceblue;
}
.agree{
    background: #BF1415;
border-radius: 8px;
width: 300px;
color: white;
}
.decline{
    background: #A6A6A6;
border: 1px solid #A6A6A6;
border-radius: 8px;
width: 300px;
}
.fgm9{
    display: flex;
    justify-content: center;
}

